<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364245564625-eiji0buf4tduics8m1qp7d7734bcreu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364245564625-eiji0buf4tduics8m1qp7d7734bcreu4</string>
	<key>API_KEY</key>
	<string>AIzaSyBMYhQlSxJAhauXy7sGXfkBJf2mgbY-o6A</string>
	<key>GCM_SENDER_ID</key>
	<string>364245564625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ingrid.CleanUV</string>
	<key>PROJECT_ID</key>
	<string>login-cleanuv</string>
	<key>STORAGE_BUCKET</key>
	<string>login-cleanuv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364245564625:ios:a0075a9e4d57a22b9019f0</string>
</dict>
</plist>